@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
* {
  font-family: "Rubik", sans-serif;
}
body {
  background-color: hsl(226, 43%, 10%);
  color: white;
}
img {
  width: 25%;
  margin-bottom: 50px;
  border-radius: 50%;
  border: 3px solid white;
}
h1,
h2,
h3 {
  display: inline;
}
h1 {
  font-weight: 300;
  font-size: 64px;
  margin-top: 0;
  margin-bottom: 0;
}
h2 {
  font-weight: 300;
  font-size: 48px;
  margin-top: 0;
  display: inline;
}
h3 {
  font-size: 18px;
  font-weight: 500;
}
.profile {
  background-color: hsl(246, 80%, 60%);
  padding: 25px;
  border-radius: 15px;
}
.report {
  margin-bottom: 0;
  opacity: 50%;
  width: 60%;
}
.buttons {
  margin: 25px;
  width: 60%;
}
.buttons > p {
  opacity: 50%;
}
p:hover {
  opacity: 100%;
}
.active {
  opacity: 100%;
}
.attribution {
  font-size: 11px;
  position: absolute;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.content {
  width: 60%;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "profile card1 card2 card3"
    "profile card4 card5 card6";
  gap: 15px;
  margin-top: 150px;
}
.profile-card,
.card {
  border-radius: 15px;
}
.profile-card {
  grid-area: profile;
  background-color: hsl(235, 46%, 20%);
  padding-right: 0;
}
.text {
  margin-top: 35px;
  padding: 20px;
  height: 150px;
  border-radius: 15px;
  background-color: hsl(235, 46%, 20%);
}

.card {
  height: 50%;
}
.card-1,
.card-2,
.card-3,
.card-4,
.card-5,
.card-6 {
  z-index: -1;
}
.card-1 {
  grid-area: card1;
  background-color: hsl(15, 100%, 70%);
}

.card-2 {
  grid-area: card2;
  background-color: hsl(195, 74%, 62%);
}
.card-3 {
  grid-area: card3;
  background-color: hsl(348, 100%, 68%);
}
.card-4 {
  grid-area: card4;
  background-color: hsl(145, 58%, 55%);
}
.card-5 {
  grid-area: card5;
  background-color: hsl(264, 64%, 52%);
}
.card-6 {
  grid-area: card6;
  background-color: hsl(43, 84%, 65%);
}
.hide {
  display: none;
}
.ellipsis {
  display: inline;
  float: right;
  position: relative;
  margin-right: -55px;
}
.icon {
  float: right;

  z-index: -1;
  position: relative;
}

span {
  opacity: 0;
}
.text > p {
  opacity: 50%;
}
.ellipsis:hover {
  color: white;
}
@media screen and (max-width: 400px) {
  h3 {
    display: block;
  }
  .content {
    width: 90%;
    grid-template-areas:
      "profile"
      "card1"
      "card2"
      "card3"
      "card4"
      "card5"
      "card6";
  }
  .attribution {
    visibility: hidden;
  }

  .text {
    height: 190px;
  }
}
